## Store Sensitive information in this file it will be copied to the services as a secret encrypted in memory.
## These secrets are included in the services using docker-compose.yml
## Example 
DB_PASSWORD = 'hunter2'